<div id="down">
		<h3>Numbers of MPs in Parliament :&nbsp;</h3>
		<form id="stats" method="post" action="/RiskCalc">
			<h4>LengthOfPrice(H): <input type="text" name="H" /><br/></h4>
			<h4>Number of DataPoints(D) <input type="text" name="D" /><br/></h4>


            <h4>Buy or Sell (T 0 for buy 1 for sale) <select name="T">
														<option value="Buy">Buy</option>
														<option value="Sell">Sell</option>
														</select>

			<h4><input type="submit" name="RiskCalc" value="RiskCalc" />
			<input type="submit" name='cancel' value="Cancel"
			onclick="window.location='/'; return false;" /><br/></h4>
		</form>


		{% if note %}
		<h3 style="color: #11FFFF">
			{{ note }}
		</h3>
		{% endif %}
	
	</div>

